[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
aiohttp = "*"
pyperclip = "*"
click = "*"
dateparser = "*"

[requires]
python_version = "3.7"
